body {
  color: #69606B;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

header {
  background-color: #09C;
  color: #ecf0f1;
}

header h1#flat-title {
  font:normal 300 4em/1.2 "Open Sans", sans-serif;
}

header #flat-subtitle {
  font:italic 300 2em/1.2 "Open Sans", sans-serif;
  padding-bottom:1em;
}

main h1,
main h2,
main h3,
main h4 {
  font-weight:normal;
  line-height:1.2;
}

main h1 {
  font-size:3em;
  color:#09C;
}
